/* styles for entire website */

/* global colors */
:root {
    --main: purple;
}

#site-name {
    font-size: 150%;
    color: var(--main);
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: var(--main);
}

#footer {
    float: left;
    text-align: center;
    width: 100%;
    font-size: 70%;
}