{% extends "base.html" %}

{% block javascript %}<script src="static/javascript/nav.js"></script>{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
    <div id="current-page" style="display: none;">#home</div>
    <div class="row pt-4 pb-4">
        <div class="col-2"></div>
        <div class="col-4 pt-5">
            <p class="lh-1"><span class="about-header">Hi! My name is</span></br>
            <span class="header">Sara Clark.</span></br>
            <span class="subheader">I'm a Software & App Developer.</span></p>
            <p class="main-text">After two years in tech, I'd say what I really do is solve problems in creative ways with applicable technologies.</br>
            <span class="text-center oneliner">I absolutely love what I do.</span></br>
            I started later in life, making a career pivot in my 30s to pursue software and app development. I enjoy the life-long pursuit of knowledge that development demands, and the constant challenges it brings.</p>
        </div>
        <div class="col-3">
            <img src="/static/assets/Profile_circle.png" class="img-fluid" alt="Photo of Sara Clark.">
        </div>
        <div class="col-2 flex-column ms-auto">{% include 'nav.html' %}</div>
    </div>
    <div class="row">
        <div class="col text-end"><h5><a href="/projects">projects</a></h5></div>
    </div>
    <div class="row project-slider">
        <div class="scroll-container">
            {% for project in projects %}
                <div class="project-container">
                    <img src={{ project['visuals']['thumb']['file'] }} alt="{{ project['visuals']['thumb']['desc'] }}" class="image">
                    <div class="project-overlay">
                        <p class="text lh-1"><span style="font-size:110%;font-weight:bold;">{{ project['name'] }}</span></br>{{ project['type'] }}</p>
                    </div>
                </div>
            {%endfor%} 
        </div>
    </div>
{% endblock %}
