<div class="col-2"></div>
<div class="col-3 pt-3">
    <p class="lh-1">
    <span class="header">LORs</span></br>
    <span class="subheader">letters of recommendation</span></br>
    <span style="color:var(--main);" class="main-text">Click a letter below to view in the window -></span>
    </p>
    <div class="row pb-3">
        <div class="col"><a class="thumb-lor" id="helmick-lor" href="#"><img src="/static/assets/lors/HelmickD_2024_thumb.jpg" class="img-fluid thumb-border" alt="Thumbnail image of LOR from Derek Helmick."></a></div>
        <div class="col"><a class="thumb-lor" id="bagby-lor" href="#"><img src="/static/assets/lors/BagbyD_2021_thumb.jpg" class="img-fluid thumb-border" alt="Thumbnail image of LOR from Dr. Doug Bagby."></a></div>
    </div>
    <div class="row pt-3">
        <div class="col pr-0 mr-0"><a class="thumb-lor" id="jennings-lor" href="#"><img src="/static/assets/lors/JenningsO_2021_thumb.jpg" class="img-fluid thumb-border" alt="Thumbnail image of LOR from Omar Jennings."></a></div>
        <div class="col pl-0 ml-0"><a class="thumb-lor" id="lane-lor" href="#"><img src="/static/assets/lors/LaneT_2020_thumb.jpg" class="img-fluid thumb-border" alt="Thumbnail image of LOR from Dr. Timothy Lane."></a></div>
    </div>
</div>
<div class="col-6 shadow p-2 mb-5 rounded"><iframe id="lor-pdf" src="" ></iframe></div>
