{% extends "base.html" %}

{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">{% endblock %}
<!-- {% block javascript %}{% endblock %} -->
{% block title %}Resume{% endblock %}
{% block header %}Resume{% endblock %}
{% block content %}
  <div>
    <iframe id="resume-pdf" src="https://docs.google.com/gview?url=https://github.com/tristabug/SaraClarks-Portfolio/raw/preprod/static/assets/ClarkSResume_ContactInfoFree.pdf&embedded=true&embedded=true" frameborder="0"></iframe>
  </body>
{% endblock %}
