
<div class="col-1">
    <div class="row shadow-box" style="background-color:var(--main);height:240px;"></div>
</div>
<div class="col">
    <div class="row shadow-box rounded-end align-items-center" style="background-color:var(--main);margin-right:1em;padding-left:0;height:240px;">
        <div class="col"><p class="lh-1" style="color:white;padding-right:1em;">
            <span class="header">skills</span></br>
            <span class="main-text">After two years in tech, I'd say what I really do is solve problems in creative ways with applicable technologies.</br>
                </br>I started later in life, making a career pivot in my 30s to pursue software and app development. I enjoy the life-long pursuit of knowledge that development demands, and the constant challenges it brings.
            </span>
        </p></div>
    </div>
    <div class="row pt-2 pb-2"></div>
    <p class="skill-header">Languages/Frameworks</p>
    {% for skill in skills['language'] %}
        <div class="row">
            <div class="col skill-name text-end"><span class="years">({{ skill['years'] }} years)</span> {{ skill['name'] }}</div>
            <div class="col pt-2 pb-2"><div class="rounded language" style="width:{{ skill['w'] }}%;"></div></div>
        </div>
    {%endfor%} 
</div>
<div class="col">
    <p class="skill-header">Tools</p>
    {% for skill in skills['tool'] %}
        <div class="row">
            <div class="col skill-name text-end"><span class="years">({{ skill['years'] }} years)</span> {{ skill['name'] }}</div>
            <div class="col pt-2 pb-2"><div class="rounded tool" style="width:{{ skill['w'] }}%;"></div></div>
        </div>
    {%endfor%} 
    <div class="row pt-2 pb-2"></div>
    <p class="skill-header">Skill-Sets</p>
        {% for skill in skills['skill-set'] %}
            <div class="row">
                <div class="col skill-name text-end"><span class="years">({{ skill['years'] }} years)</span> {{ skill['name'] }}</div>
                <div class="col pt-2 pb-2"><div class="rounded skill-set" style="width:{{ skill['w'] }}%;"></div></div>
            </div>
        {%endfor%}    
</div>
<div class="col-1"></div>
